<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fale"
        tools:targetApi="25"
        >

        <uses-permission android:name="android.permission.RECORD_AUDIO"
            tools:ignore="WrongManifestParent" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            tools:ignore="WrongManifestParent" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
            tools:ignore="WrongManifestParent" />

        <activity
            android:name="br.edu.ifrn.sc.info.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Fale" />
        <activity
            android:name="UI.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Fale" />
    </application>

</manifest>