<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissões Corrigidas -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fale"
        tools:targetApi="25">
        <!-- Activity Principal (Login) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Fale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Demais Activities (Usando o caminho completo para evitar erro de pacote) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Fale" />
        <activity
            android:name=".BlocosActivity"
            android:exported="false" />
        <activity
            android:name=".UploadArquivos"
            android:exported="false" />

        <activity
            android:name=".CadastrarPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".DetalhePacienteActivity"
            android:exported="false" />
        <activity
            android:name=".AvaliacaoAtividadeActivity"
            android:exported="false" />
        <activity
            android:name=".ListAudioActivity"
            android:exported="false"
            android:label="@string/title_activity_list_audio" />
        <activity
            android:name=".ReviewActivity"
            android:exported="false"
            android:label="@string/title_activity_review" />
        <activity android:name=".MenuTeste"
            android:exported="false"
            android:label="MenuTeste"
            />
    </application>

</manifest>